target/
data/
docs/
.github/
.git/
.gitignore
.gitattributes
.githooks/
ui/node_modules/
ui/build/
ui/.svelte-kit/
docs/node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
*.md
!CHANGELOG.md
!LICENSE-MIT
!LICENSE-APACHE
!README.md
